/* app.css */
#root {
  width: 100%; /* Mengubah max-width menjadi width untuk lebar penuh */
  margin: 0 auto; /* Tetap menggunakan margin auto untuk pusat */
  padding: 0; /* Menghapus padding untuk lebar penuh */
  text-align: center;
}

body {
  margin: 0;
  display: block; /* Mengubah display menjadi block untuk mengisi seluruh halaman */
  min-width: 320px;
  min-height: 100vh;
}

/* index.css */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%; /* Pastikan container mengambil lebar penuh */
  padding: 0; /* Menghapus padding untuk lebar penuh */
}
